<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocktail_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="false"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cocktails_cocktail_icon"
        android:label="CocktailMachine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".screenactivities.admin.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.cocktail.CocktailInProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.cocktail.ConfirmCocktailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.cocktail.ChooseSizeActvitity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.ingredients.IngredientsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.ingredients.IngredientAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.ingredients.IngredientEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.PieChartActitivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.users.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cleaning.CleaningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cleaning.CleaningCancelledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cleaning.CleaningFinishedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cleaning.CleaningInProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.AdminPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cocktails.ManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.NoConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.users.UserEditRfidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.users.UserAddRfidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.users.UserEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.users.UserAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cocktails.CocktailEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screenactivities.admin.cocktails.CocktailEditIngredientsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.admin.cocktails.CocktailAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.MaintenanceLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.ConfirmAgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.AdminAuthFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.ConfirmAgeFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.MaintenanceAuthFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.UserAddAuthFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.UserEditAuthFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.error.CocktailCancelledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.success.CocktailFinishedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenactivities.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>